img {
    width: 40%;
    margin: auto;
    margin-top: 10rem;
}

body {
    text-align: center;
}

input {
    width: 50%;
    padding: 5px;
    border: solid 1px rgb(227, 223, 223);
}

div {
    margin-top: 10px;
}

button {
    border: none;
    padding: 8px;
    color: rgb(129, 128, 128);
    border-radius: 5px;
}